@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background-image: url('/images/bg-mobile.svg');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
}

@media (min-width:1024px) {
    body {
        background-image: url('/images/bg-desktop.svg');
        background-size: cover;
        background-position: center;
    }
}